.fancy_form
{
    background-color: #f3f3f3;
    border: solid 1px #a1a1a1;
    padding: 5px;
    width: 500px;
}

.fancy_form label, .fancy_form input, .fancy_form select
{
    display: block;
    float: left;
    margin: 2px 3px 5px;
    padding: 3px;
    width: 200px;
}

.fancy_form label
{
    text-align: right;
    width: 170px;
    padding-right: 15px;
}

.fancy_form p
{
    margin: 10px 0;
}
